$body-color:#15191d;
$pink:#534acf;
$navy-blue:#004492;
$white:#fff;
$indigo:#ae2fe0;
$sky:#10a6f8;
$black:rgb(10, 12, 14);
$navy-black:#050b16;
$navy-grey:#202a3e;

$pink-navyBlue-gd:linear-gradient(90deg, $navy-blue, $indigo);
$white-text-shadow:0 0 32px transparentize($white,0.7);
$pink-text-shadow:0 0 32px transparentize($pink,0.7);
$pink-sm-shadow:0 0 5px #6655c480, 0 0 10px #4846af, 0 0 25px #3a3f8880;
