@use "./color" as c;
$xsm: 360px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin xsm($breakpoint:$xsm) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin sm ($breakpoint:$sm) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin md($breakpoint:$md) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin lg ($breakpoint:$lg) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}
@mixin xl ($breakpoint:$xl){
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}
@mixin xxl ($breakpoint:$xxl) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

//button mixins
@mixin  gridBtn {
    display: inline-flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 7px;
    margin: 5px 0px;
}

@mixin pink-navyBlue-gd-button {
    background: c.$pink-navyBlue-gd;
    color: white;
    font-weight: 600;
    padding: 10px 15px;
    @include gridBtn();

    &:hover {
        box-shadow: 0 0 32px transparentize($color: c.$navy-blue, $amount: 0);
        transition: 0.5s;
    }
}
