.team {
    padding: 100px 0;
}
.team .teamInner {
    text-align: center;
    margin: 0 auto;
    color: #fff;
}
.team .teamInner .teamTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.team .teamInner .teamTitle .subTitle {
    font-size: 3rem;
    line-height: 1;
    color: #cf4a7a;
    /* background-image: linear-gradient(to top left,#cf4a7a, #6d3a88); */
}
.team .teamInner .teamTitle .title {
    font-size: 6rem;
    line-height: 1;
    font-weight: 700;
    text-shadow: 0 0 32px rgb(159 55 208 / 79%);
    color: #cf4a7a;
    /* background-image: linear-gradient(to top left,#cf4a7a, #6d3a88); */
}
.team .teamInner .description {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
}
























