@use "../util" as *;

body {
    background: $body-color;
    overflow-x: hidden;
}

#header {
    .header-video {
        width: 100%;
        min-height: 100vh;
        position: relative;
        overflow: hidden;
        z-index: 1;

        .header-video__video {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 1920px;
            height: 1080px;
        }

        .header-video__button-cover {
            width: 100%;
            position: absolute;
            bottom: 0px;
            display: flex;
            justify-content: center;
            .header-video__button-overlay {
                padding: 1.5rem 4rem;
                background: rgba(255, 255, 255, 0.116);
                border-radius: 1rem;
                margin-bottom: 20px;
                backdrop-filter: blur(10px);
                .sold-out-button {
                    @include pink-navyBlue-gd-button();
                    padding: 24px 40px;
                    font-size: 80px;
                    font-weight: 900;
                    border-radius: 1rem;
                    text-transform: uppercase;
                    background:linear-gradient( to right , $navy-blue,darken($indigo,20)) ;
                    @include zoom-in-out(0.8,1,0.8s);
                    animation-timing-function: linear;
                }
            }

            @include md{
                .header-video__button-overlay{
                    padding: 1rem 2.5rem;
                    .sold-out-button{
                        font-size: 50px;
                    }
                }
            }
            @include sm{
                .header-video__button-overlay{
                    padding: 0.7rem 1.5rem;
                    .sold-out-button{
                        font-size: 30px;
                        padding: 10px 20px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    #buy-opensea{
        .image-text{
            .image{
                img{
                    width: 90%;
                    max-width: 550px;
                    display: block;
                    margin: auto;
                    clip-path: polygon(68% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
                }
            }
            .title{

            }
            .desc{
                p{
                    font-size: 20px;
                    
                }
            }
        }
    }
}


/* Mint Information section */
#mint-information{

    .public-scale-card{
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 30px;
        .number{
            background: url("https://www.meta-legends.com/img/border-gradient.e65c189e.svg") no-repeat center / cover;
            height: 70px;
            padding: 0;
            width: 69px;
            display: flex;
            justify-content: center;
            align-items: center;
            h1{ 
                font-size: 50px;
                margin-bottom: 0px;

            }
        }

        .desc{
            margin-left:15px ;
            *{
                margin-bottom: 0px;
            }
        }
    }


    .mint-information-slider{
        .mint-information-slider__wrapper{
            .mint-information-slider__slider{
                padding: 5rem 0px;
                .swiper-slide{
                    transition: 0.3s;
                    user-select: none;
                }

                .swiper-slide.swiper-slide-active{
                    transform: scale(1.2);
                    position: relative;
                    z-index: 1;
                    @include md{
                        transform: scale(1);
                    }
                    #mint-information-card{
                        box-shadow: $pink-sm-shadow;
                    }
                }
            }
        }
    }

}