@use "../util" as *;

#navbar {
    width: 95%;
    // min-width: 992px;
    background: $body-color;
    padding: 30px 10px 20px;
    margin: auto;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    // border: 1px solid $white;
    margin-bottom: -113px;
    position: relative;
    z-index: 9999;

    @include md{
        width: 100%;
    }

    @include xl {
        clip-path: none;
        border-radius: 0px 0px 40px 40px;
    }

    .navbar-container {
        max-width: 1110px;
        margin: auto;
        display: flex;
        align-items: center;
        .navbar-brand {
            flex: 0 0 auto;
            img {
                height: 50px;
            }
        }
        .navbar-opener-icon {
            display: none;
            align-items: center;
            margin-left: 70px;
            background: $navy-blue;
            border: 1px solid $white;
            width: 60px;
            flex-shrink: 0;
            height: 60px;
            justify-content: center;
            border-radius: 50%;

            @include xl {
                display: flex;
            }

            &:hover {
                background-color: $white;
                .iconify {
                    color: $navy-blue;
                }
            }
            .iconify {
                font-size: 40px;
                color: $white;
            }
        }

        .navbar-closer-icon {
            @extend .navbar-opener-icon;
            position: fixed;
            right: -100%;
            top: 10px;
            z-index: 1001;
            transition: 0.4s;

            &.active {
                right: 0px;
            }
        }

        .navbar-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include xl {
                justify-content: flex-end;
                width: fit-content;
            }
            width: 100%;
            .navbar-items {
                height: 100%;
                margin: auto;
                .nav {
                    align-items: center;
                    height: 100%;
                    justify-content: center;
                    width: 100%;
                    .nav-item {
                        .nav-link {
                            color: darken($color: $white, $amount: 30);

                            font-size: 16px;
                            font-weight: 700;
                            text-transform: uppercase;
                            padding: 5px 18px;
                            cursor: pointer;
                        }
                    }
                }

                @include xl {
                    position: fixed;
                    width: 50%;
                    min-width: 300px;
                    max-width: 400px;
                    height: 100vh;
                    top: 0px;
                    z-index: 1000;
                    right: -100%;
                    background: darken($indigo, 25);
                    transition: 0.5s ease-out;
                    &.show {
                        right: -30px;
                    }
                    .nav {
                        flex-direction: column;
                        justify-content: flex-start;
                        padding: 2rem;

                        .nav-item {
                            width: 100%;
                            margin-bottom: 10px;
                            .nav-link {
                                // background: ;
                            }
                        }
                    }
                }
            }

            .navbar-icons {
                height: 100%;

                .nav {
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 7px 0px;

                    .nav-item {
                        padding: 0px 5px;
                        height: 100%;
                        .nav-link {
                            padding: 0px 10px;
                            min-height: 50px;
                        }
                        .nav-link,
                        > * {
                            color: darken($color: $white, $amount: 30);
                            text-transform: uppercase;
                            border-radius: 10px;
                            background: linear-gradient(100deg, darken($indigo, 30) 10%, $navy-blue);
                            height: 100%;
                            display: flex;
                            align-items: center;
                            .iconify {
                                font-size: 30px;
                            }
                            &.opensea {
                                svg {
                                    width: 30px;
                                    transform: scale(1.4);
                                }
                            }
                        }
                    }
                }
            }

            @include md {
                position: fixed;
                width: 100%;
                max-width: 400px;
                min-width: 300px;
                right: -100%;
                height: 100vh;
                top: 0px;
                flex-flow: column;
                background: darken($indigo, 25);
                justify-content: center;
                transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
                &.active {
                    right: -30px;
                    box-shadow: -20px 0px 40px transparentize($color: $navy-black, $amount: 0.3);
                }
                .navbar-items {
                    position: static;
                    height: auto;
                    width: 100%;
                    margin: 0;
                }

                .navbar-icons {
                    height: 60px;
                    .nav {
                        .nav-item {
                            .nav-link {
                                min-height: 100%;
                                background: $white;
                                color: $indigo;
                            }
                        }
                    }
                }
            }
        }
    }
}
