@use "../util" as *;


#team {
    padding: 100px 0;

    .teamInner {
        text-align: center;
        margin: 0 auto;
        color: #fff;

        .teamTitle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 5rem;

           .subTitle {
                font-size: 3rem;
                line-height: 1;
                color: #cf4a7a;
                /* background-image: linear-gradient(to top left,#cf4a7a, #6d3a88); */
            }

            .title {
                font-size: 6rem;
                line-height: 1;
                font-weight: 700;
                text-shadow: 0 0 32px rgb(159 55 208 / 79%);
                color: #cf4a7a;
                /* background-image: linear-gradient(to top left,#cf4a7a, #6d3a88); */
            }
        }

        .description {
            font-size: 1.125rem;
            line-height: 1.75rem;
            margin-left: 10rem;
            margin-right: 10rem;
            margin-bottom: 5rem;
        }
        @include md{
            .description {
                margin-left: 0;
                margin-right: 0;
            }
        }
        @include sm{
            .description {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .teamCard {

        .tCard {
            background-color: none;
            margin-bottom: 20px;
            position: relative;

            .cardInner {
                position: relative;
            }

            .hiddenArea {
                position: absolute;
                font-size: 1rem;
                top: -2px;
                left: 50%;
                line-height: 1.5rem;
                text-align: center;
                font-weight: bold;
                color: #fff;
            }
            @include sm {
                .hiddenArea {
                    text-align: left;
                }
            }
            
            .hiddenArea:not(:last-of-type) {
                text-align: left;
            }
            @include md{
                .hiddenArea:not(:last-of-type) {
                    margin-right: 130px;
                }
            }
            @include sm{
                .hiddenArea:not(:last-of-type) {
                    margin-right: 130px;
                }
            }

            .cardInner {

                .info {
                    position: relative;
                    transform: rotateX(0deg) rotateY(0deg);

                    img {
                        filter: brightness(1);
                        max-width: 100%;
                        height: auto;
                    }
                    @include md {
                        img {
                            width: 100%;
                        }
                    }
                    @include sm {
                        img {
                            width: 100%;
                        }
                    }

                    .infoInner {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 66.666667%;
                        margin: 1rem;

                        h1 {
                            font-size: 2.25rem;
                            line-height: 2.5rem;
                            font-weight: 900;
                            color: $indigo;
                            font-family: Montserrat,sans-serif;
                        }

                        h2 {
                            font-size: 1.25rem;
                            line-height: 1.75rem;
                            color: $indigo;
                            font-family: Montserrat,sans-serif;
                        }
                    }

                    .socialIcon {
                        position: absolute;
                        display: flex;
                        bottom: 0;
                        left: 0;

                        a {
                            background: $indigo;
                            padding: 1rem;
                            width: 3.5rem;
                            height: 3.5rem;
                            margin: 1rem;
                            border-radius: 0.5rem;
                            cursor: pointer;
                            box-shadow: 0 19px 38px rgba(0,0,0,0.5),0 15px 12px rgba(0,0,0,0.42);
                        }

                        a:nth-child(7) {
                            background: none;
                        }
                    }
                    @include sm{
                        flex-direction: column;
                    }
                }
            }

            .shadowImg {
                display: block;
                max-width: 100%;
                height: auto;
                transform: rotateX(0deg) rotateY(0deg);
            }
            @include sm {
                .shadowImg {
                    display: none;
                }
            }
        }
        @include sm{
            margin-bottom: 40px;
        }
    }
}













